<h1>Add Money to Your Account</h1>

<%= form_tag deposit_user_path(@me), method: :patch do %>
  <%= label_tag :balance, "balance to deposit:" %>
  <%= number_field_tag :balance, nil, step: 0.01, min: 0 %>
  <%= submit_tag "Deposit" %>
<% end %>

<%= link_to "Back to Profile", me_path(@me) %>