<div class="container pokimon mt-7 mt-sm-8 mb-5">
  <%= link_to "Back to Profile", user_path(@user) %>
  <h1>Add Money to Your Wallet</h1>

  <%= form_with(model: @user, url: add_money_path(@user), local: true) do |form| %>
    <div class="form-group">
      <%= form.label :balance %>
      <%= form.text_field :balance, class: "form-control", placeholder: "Enter amount" %>
    </div>

    <div class="form-group text-center mt-5">
      <%= form.submit "Deposit", class: "btn btn-primary btn-lg px-5" %>
    </div>
  <% end %>
</div>
