<div class="container pokimon mt-7 mt-sm-8 mb-5">
  <%= link_to "Back to Profile", me_path(@me) %><br/>
  <% if flash[:error] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:error] %>
    </div>
  <% end %>

  pokimon name: <%= @pokemon.name%><br/>
  pokimon price: <%= @pokemon.price%>
  <br/>

  <% if @current_user && @current_user.has_pokemon?(@pokemon) %>
      <div class="container pokimon mt-7 mt-sm-8 mb-5">

        <p>Change pokemon price</p>
        <%= form_with(model: @pokemon, url: sell_pokemon_path(@pokemon), local: true) do |form| %>
          <div class="form-group">
            <%= form.label :price %>
            <%= form.text_field :price, class: "form-control" %>
          </div>

          <div class="form-group d-flex justify-content-center mt-5">
            <%= form.submit "Sell", class: "btn btn-primary px-4" %>
          </div>
        <% end %>
      </div>
  <% else %>
    <%= link_to buy_pokemon_path, method: :post, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" do %>
      Buy
    <% end %>
  <% end %>
</div>